{{> employeeList}}
<form action="/employees" method="POST">
  <input type="text" name="firstName" placeholder="First Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="text" name="roleId" placeholder="Role ID">
  <input type="text" name="managerId" placeholder="Manager ID">
  <button type="submit">Add Employee</button>
</form>
